{:kotoba.app/id "cloud.itonami.isic-4921", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifasvf6l5t4ffik6vjazpc3nqmusw5ejbgn6wex4hyawkn57fku3i", :kotoba.app/embed-url "ipfs://bafkreifasvf6l5t4ffik6vjazpc3nqmusw5ejbgn6wex4hyawkn57fku3i", :published {:archive "https://kotobase.net/ipfs/bafkreifasvf6l5t4ffik6vjazpc3nqmusw5ejbgn6wex4hyawkn57fku3i", :size 79725, :put-status 201, :get-status 200, :at "2026-08-15T13:46:30.354Z"}}
